<p>
  {{ with .OutputFormats.Get "Calendar" }}
  {{ T "templates_get_calendar_file_no_alarms" }}
  <a href="{{ .RelPermalink }}" type="text/calendar">{{ T "templates_here_link" }}</a>.
  {{ end }}
</p>
<p>
  {{ with .OutputFormats.Get "CalendarWithAlarms" }}
  {{ T "templates_get_calendar_file_with_alarms" }}
  <a href="{{ .RelPermalink }}" type="text/calendar">{{ T "templates_here_link" }}</a>.
  {{ end }}
</p>
<p>{{ with .OutputFormats.Get "Calendar" }}
    {{ T "templates_locales" }}:
    <select id='locale-selector'></select>
    <div style="max-width: 900px; margin: 0 auto;" id='calendar'></div>{{ end }}
</p>
