<h2>Event Metadaten</h2>
<ul>
  <li>Start: {{ .Params.startDate }}</li>
  <li>End: {{ .Params.endDate }}</li>
  {{ if .Params.where }}
  <li>Location: {{ .Params.where }}</li>
  {{ end }} {{ if .Params.orga }}
  <li>Orga: {{ .Params.orga }}</li>
  {{ end }} {{ if .Params.orgaEmail }}
  <li>EMail: {{ .Params.orgaEmail }}</li>
  {{ end }} {{ if .Params.cancelled }}
  <li>Cancelled: {{ .Params.cancelled }}</li>
  {{ end }} {{ if .Params.recurrenceRule }}
  <li>
    Wiederholungsregeln:<br />
    <ul>
      {{ range $k, $v := .Params.recurrenceRule }}
      <li>{{ $k }}: {{ $v }}</li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
</ul>

<p>
  {{ with .OutputFormats.Get "Calendar" }} Kalender-Datei für dieses Event:
  <a href="{{ .RelPermalink }}" type="text/calendar">{{ $.Title }}.ics</a>
  {{ end }}
</p>
<p>{{ with .OutputFormats.Get "Calendar" }}
    Sprachauswahl:
    <select id='locale-selector'></select>
    <div style="max-width: 900px; margin: 0 auto;" id='calendar'></div>{{ end }}
</p>
